.hero-page {
    background-color: grey;
    height: 70rem;
    overflow: hidden;
    


    img {
        height: 70rem;
        width: 140rem;
        
        
    }

    .text-and-button {
        h2 {
            position: absolute;
            top: 9rem;
            left: 0rem;
            color: #FFF;
            font-family: Roboto;
            font-size: 6.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            /* 76.8px */
            padding: 13rem;
        }

        .learn-about-us-button {
            position: absolute;
            top: 50rem;
            left: 14rem;
            background-color: #FFF;
            color: #1D2130;
            font-family: "Roboto";
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 20rem;
            height: 4rem;
            text-align: center;
            padding-top: 1rem;
            border-radius: 0.5rem;
            cursor: default;

            &:hover{
                background-color: #c9c9c9;   
                color: #1D2130;
            }

        }

        a{
            position: absolute;
            top: 51rem;
            left: 36rem;
            font-size: 2.5rem;
            text-decoration: none;
            color: #FFF;

            &:hover{
                color: #c9c9c9;
            }
        }
    }

}